.browse {
    background-color: antiquewhite;
    max-width: 80%;
    margin: 0 auto;
    background-color: #f5f5f5;
    text-align: center;
    padding: 30px;
    font-family: "Integral CF", sans-serif;
    font-size: 36px;
    border-radius: 25px;
  }
  
  .container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 100px;
    gap: 20px;
  }
  
  .item-casual,
  .item-formal,
  .item-party,
  .item-gym {
    flex: 1 1 40%;
    max-width: 407px;
    height: 289px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
  }
  
  .item-formal,
  .item-party {
    max-width: 684px;
  }
  
  .item-casual {
    background-image: url(/assets/images/casual.svg);
  }
  
  .item-formal {
    background-image: url(/assets/images/formal.svg);
  }
  
  .item-party {
    background-image: url(/assets/images/party.svg);
  }
  
  .item-gym {
    background-image: url(/assets/images/gym.svg);
  }
  .item {
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  .item:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  }

  @media (max-width: 1430px) {
    .container2 {
      flex-direction: column;
      align-items: center;
      padding: 0px;
    }
  
    .item-casual,
    .item-formal,
    .item-party,
    .item-gym {
      width: 500px;
      max-width: 500px;
      height: auto;
      min-height: 350px;
      background-position: left center;
      margin-bottom: 10px;
    }
  }

  @media (max-width: 768px) {
  .item-casual,
  .item-formal,
  .item-party,
  .item-gym {
    width: 100%;
    height: auto;
    min-height: 190px;
    background-position: left center;
  }

  h2 {
    font-size: 32px;
  }
}