@font-face {
    font-family: 'Integral CF';
    src: url(/assets/fonts/integralcf-bold.otf) format('truetype');
}

@font-face {
    font-family: 'Satoshi';
    src: url('/assets/fonts/Satoshi-Regular.otf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'satoshi', sans-serif;
}

.navbar {
    background-color: #fff;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left, .navbar-center, .navbar-right {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    margin-right: 20px;
    font-family: 'Integral CF', sans-serif;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    display: flex;
    gap: 20px;
}

.nav-menu li {
    display: inline;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    font-family: 'satoshi', sans-serif;
}

.navbar-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-container {
    width: 70%;
    max-width: 900px;
}

#search-input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    background-color: #f5f5f5;
}

#search-input::placeholder {
    color: #b3b3b3;
}

.navbar-right .nav-icon.search-icon {
    display: none;
}

.navbar-right .nav-icon {
    margin-left: 20px;
    display: inline-block;
}

.navbar-right .nav-icon img {
    width: 24px;
    height: 24px;
}

.hamburger-icon {
    display: none;
    margin-right: 20px;
    cursor: pointer;
}

.hamburger-icon img {
    width: 24px;
    height: 24px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    padding: 10px 0;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.dropdown-menu ul li a img {
    margin-right: 10px;
}


.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    background-color: #F2F0F1;
}

.text-content {
    max-width: 50%;
}

.text-content h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-right: 150px;
    line-height: 1.2;
    font-family: 'Integral CF', sans-serif;
}

.text-content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;

}

.shop-button {
    display: inline-block;
    padding: 15px 70px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    margin-bottom: 40px;
}

.stats {
    display: flex;
    gap: 40px;
}

.stats div {
    text-align: center;    
}

.stats-card {
    margin-right: 50px;
}

.stats h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 40px;
    font-family: 'satoshi', sans-serif;
    
}

.stats p {
    font-size: 14px;
    color: #666;
    font-family: 'satoshi', sans-serif;
}

.image-content img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}



.brand-section {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
}

.brand-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.brand-item {
    flex: 1 1 15%; 
    max-width: 20%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.brand-item img {
    max-width: 70%;
    height: auto;
}


.new-arrivals {
    padding: 40px 100px;
    background-color: #fff;
    text-align: center;
}

.new-arrivals h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    font-family: 'Integral CF', sans-serif;
}

.product-list {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 20px;
}

.product-card {
    padding: 20px;
    border-radius: 12px;
    max-width: 20%;
    flex: 1 1 22%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.product-card:hover {
    transform: scale(1.10); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.product-card img {
    max-width: 80%;
    border-radius: 8px;
    margin-bottom: 20px;
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}

.product-info {
    width: 100%;
    text-align: left; 
}

.product-info h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.product-rating {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
    justify-content: flex-start; 
}

.product-rating span:first-child {
    color: #FFA500; 
    margin-right: 5px;
}

.product-price {
    font-size: 18px;
    font-weight: 700;
    text-align: left; 
}

.old-price {
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
}

.discount {
    background-color: #f7b7b7;
    color: #FF4C4C;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 10px;
}

.view-all-button {
    display: inline-block;
    padding: 12px 70px;
    margin-top: 40px;
    background-color: transparent; 
    color: #000; 
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    border: 2px solid; 
    transition: background-color 0.3s ease, color 0.3s ease;
}


.view-all-button:hover {
    background-color: #000; 
    color: #ffffff; 
}



@media (max-width: 768px) {
    .navbar {
        padding: 20px;
    }

    .navbar-left, .navbar-center, .navbar-right {
        flex: none;
    }

    .nav-menu, .navbar-center {
        display: none;
    }

    .hamburger-icon {
        display: inline-block;
    }

    .navbar-right {
        margin-left: auto;
    }

    .logo {
        margin-right: auto;
    }

    .navbar-right .nav-icon.search-icon {
        display: inline-block;
    }

    .hero-section {
        flex-direction: column;
        padding: 50px;
    }

    .text-content {
        max-width: 100%;
        text-align: center;
    }

    .text-content h1 {
        font-size: 34px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .text-content p {
        font-size: 14px;
    }

    .shop-button {
        width: 100%;
        padding: 15px 0;
    }

    .stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .stats-card {
        margin-right: 0;
    }

    .stats-card:nth-child(3) {
        grid-column: span 2;
    }

    .image-content {
        width: 100%;
        text-align: center;
    }

    .image-content img {
        width: 100%;
        height: auto;
    }

    .brand-item {
        flex: 1 1 25%; 
        max-width: 30%;
    }

    .product-card {
        max-width: 35%;
        flex: 1 1 45%;
    }

    .product-card:nth-child(n+3) {
        display: none;
    }

}

